@import "./variables.scss";
span,p{
    font-family: 'Open Sans', sans-serif;
    color: $white;
}

.positiveNumber{color: $green;}
.negativeNumber{color: $red;}


.menuBtnActive{background-color: $dark-grey;}
.menuBtnInactive{background-color: $menu-bg;}