@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$nav-bg: #1A1919;
$light-bg: #ADAFB2;
$medium-bg: #5A5A5A;
$medium-grey-btn-bg: #979797;
$dark-bg: #2D2D2D;
$dark-component-bg: #202020 ;
$main-blue: #3DA0CC;
$main-blue-hover: #3293BE;


$light-grey: #ADAFB2;
$medium-grey: #979797;
$dark-grey: #202020;
$red: #FF4141;

$menu-bg: #373737;
$green: #AAFF00;


$white: #fff;
