@import "../styles/variables.scss";

.app-big-container {
    background-color: $dark-bg;
    display: flex;
    flex-direction: column;
    height: 100vh;
    .app-container{
        display:flex;
        flex-direction:row;
        .col-2{
            background-color: $dark-component-bg;
            flex: 6;
            height: 95vh;
        }
    }
}

