@import "./../styles/variables.scss";

.cards-carousel-big-container {
	display: flex;
	flex-direction: column;

	.cards-carousel-menu-container {
		display: flex;
		flex-direction: row;
		height: 50px;
		background-color: $menu-bg;
		margin-bottom: 24px;

		.cards-carousel-menu-list, .cards-carousel-menu-card {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 50px;
		}

		.cards-carousel-menu-switch {
			border-right: solid 1px $medium-grey;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding-left: 15px;

			.card-carousel-menu-text {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				height: 50px;
				padding-right: 5px;

				span {
					font-family: 'Open Sans', sans-serif;
					font-size: 13px;
					font-weight: normal;
					color: $white;
				}
			}

			.cards-carousel-menu-switch-icon {
				padding-right: 15px;
			}
		}

		.cards-carousel-menu-card {
			background-color: $dark-grey;
		}

		.cards-carousel-menu-dropdown {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			border-left: solid 1px $medium-grey;
			padding-left: 22px;
			flex:1;
			.cards-carousel-menu-text{
				width:100px;
			}
		}
	}

	.card-carousel-stats-container {
		display: flex;
		flex-direction: row;
		padding-bottom: 24px;

		.card-carousel-stats-elements {
			flex: 1;
			display: flex;
			flex-direction: row;
			align-items: center;

			.card-carousel-stats-count {
				font-family: 'Open Sans', sans-serif;
				font-size: 12px;
				font-weight: bold;
				color: $white;
				padding-right: 4px;
			}

			.card-carousel-stats-text {
				font-family: 'Open Sans', sans-serif;
				font-size: 12px;
				font-weight: normal;
				color: $white;
			}

			img {
				padding-right: 8px;
			}

			&:last-child {
				justify-content: flex-end;
			}
		}
	}

	.cards-carousel-container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}